<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My BMTC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h3 class="logo">MY<span>BMTC</span></h3>
<div class="buttons-div" >
        <a href="admin_login"><button type="button"  class="btn btn-outline-dark btn-lg button">ADMIN LOGIN</button></a>
<!--      <a href="customer_login"><button type="button" class="btn btn-outline-dark btn-lg button">CUSTOMER LOGIN</button></a>-->
      </div>
            </div>
        </nav>

        <h1 class="big-title translate" data-speed="0.1"> MYBMTC.</h1>

        <img src="{{ url_for('static', filename='asset/img/person.png') }}" class="person translate" data-speed="-0.25" alt="">
        <img src="{{ url_for('static', filename='asset/img/mountain1.png') }}" class="mountain1 translate" data-speed="-0.2" alt="">
        <img src="{{ url_for('static', filename='asset/img/mountain2.png') }}" class="mountain2 translate" data-speed="0.4" alt="">
        <img src="{{ url_for('static', filename='asset/img/mountain3.png') }}" class="mountain3 translate" data-speed="0.3" alt="">
        <img src="{{ url_for('static', filename='asset/img/sky.png') }}" class="sky translate" data-speed="0.5" alt="">
    </header>

    <section>
        <div class="shadow"></div>

        <div class="container">
            <div class="content opacity">
                <h3 class="title">
                    About
                    <div class="border"></div>
                </h3>
                <p class="text">The Bengaluru Metropolitan Transport Corporation is the sole public bus transport provider for Bengaluru, serving urban, sub-urban and rural areas. BMTC is committed to provide quality, safe, reliable, clean and affordable travel. The testimony of its success lies in increasing passenger trips everyday by a wide range of customer base.</p>
            </div>

            <div class="imgContainer opacity">
                <img src="{{ url_for('static', filename='asset/img/image.jpeg') }}" alt="">
            </div>
        </div>

        <div>
  
<!--  <section class="scene">-->
<!--    <div class="heading">-->
<!--      <img src="{{ url_for('static', filename='asset/img/bmtclogowhite.png') }}" class="image" alt="bmtc logo">-->
<!--      <h1 class="heading-text">WELCOME TO MY BMTC</h1>-->
<!--      <div class="buttons-div" >-->
<!--        <a href="admin_login"><button type="button"  class="btn btn-outline-dark btn-lg button">ADMIN LOGIN</button></a>-->
<!--&lt;!&ndash;      <a href="customer_login"><button type="button" class="btn btn-outline-dark btn-lg button">CUSTOMER LOGIN</button></a>&ndash;&gt;-->
<!--      </div>-->
<!--      </div>-->
<!--  </section>-->

        </div>
    </section>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>
